/* HEADER PLATO */
.plato-header {
  background: linear-gradient(135deg, #ffffff, #f1f3f5);
  padding: 30px;
  border-radius: 20px;
  max-width: 700px;
  margin: 0 auto 40px auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.plato-header h1 {
  font-size: 2.2rem;
  margin-bottom: 12px;
  color: #222;
}

.plato-header p {
  margin: 6px 0;
  color: #555;
  font-size: 1rem;
}



/* HEADER RESTAURANTE */
.container h1#nombre-restaurante {
  font-size: 2.4rem;
  margin-bottom: 10px;
  color: #222;
}

.container p {
  margin: 4px 0;
  color: #555;
}

